{#--------------------------------#}
{# templates/auth_incident.html.twig #}
{#--------------------------------#}

{% extends "_layout.html.twig" %}

{#--------------------------------#}
{% block title %}
	Incident
{% endblock %}

{#--------------------------------#}

{% block loggedIn %}
    {% include 'logged_in.html.twig' %}
{% endblock %}

{#--------------------------------#}
{% block navigation %}
    {% include 'navigation.html.twig' %}
{% endblock %}

{#--------------------------------#}

{#-- variables for Status menu --#}
{% set Open='Open' %}
{% set Closed='Closed' %}

{#-- variables for Dash Display menu--#}
{% set No='No' %}
{% set MajorIncident='Major-Incident' %}
{% set MinorIncident='Minor-Incident' %}

{% block main %}
	<form action="{{ action | raw }}" method="POST" id="incidentCreate" >
	    <div class="row">
	        <div class="col-lg-4">&nbsp;</div>
	        <div class="col-lg-4">
                <h3 class="messageHeading">{{ message | raw }}</h3>
                <div class="form-group">
                    <label for="incCat" class="control-label">Category</label>
                    <input type="text" name="incCat" id="incCat" class="form-control" value="{{ searchParam }}" readonly >
                </div>
                <div class="form-group">
                    <label for="incStatus" class="control-label">Incident Status </label>
                    {% if Closed==incStatus %}
                        <select name="incStatus" id="incStatus" class="form-control">
                            <option value="Open">Open</option>
                            <option value="Closed" selected>Closed</option>
                        </select>
                    {% elseif Open==incStatus %}
                        <select name="incStatus" id="incStatus" class="form-control">
                            <option value="Open" selected>Open</option>
                            <option value="Closed">Closed</option>
                        </select>
                    {% else %}
                        <select name="incStatus" id="incStatus" class="form-control">
                            <option value="Open" selected>Open</option>
                            <option value="Closed">Closed</option>
                        </select>
                    {% endif %}

                </div>
                <div class="form-group">
                    <label for="incRef" class="control-label">Ticket Reference</label>
                    <input type="number" name="incRef" id="incRef" class="form-control" pattern="[0-9]{6}" value="{{ incRef }}" >
                </div>
                <div class="form-group">
                    <label for="incDesc" class="control-label">Description</label>
                    <input type="text" name="incDesc" id="incDesc" class="form-control" value="{{ incDesc }}" maxlength="160">
                </div>
                <div class="form-group">
                    <label for="incDesc" class="control-label">Display On Dashboard</label>
                    {% if No==incDashDisplay %}
                        <select name="incDashDisplay" class="form-control">
                            <option value="No" selected>No</option>
                            <option value="Major-Incident">Major-Incident</option>
                            <option value="Minor-Incident">Minor-Incident</option>
                        </select>
                    {% elseif MajorIncident==incDashDisplay %}
                        <select name="incDashDisplay" class="form-control">
                            <option value="No">No</option>
                            <option value="Major-Incident" selected>Major-Incident</option>
                            <option value="Minor-Incident">Minor-Incident</option>
                        </select>
                    {% elseif MinorIncident==incDashDisplay %}
                        <select name="incDashDisplay" class="form-control">
                            <option value="No">No</option>
                            <option value="Major-Incident">Major-Incident</option>
                            <option value="Minor-Incident" selected>Minor-Incident</option>
                        </select>
                    {% else %}
                        <select name="incDashDisplay" class="form-control">
                            <option value="No">No</option>
                            <option value="Major-Incident">Major-Incident</option>
                            <option value="Minor-Incident">Minor-Incident</option>
                        </select>
                    {% endif %}
                </div>
                <input type="hidden" name="userId" value="{{ userId }}">
                <input type="hidden" name="incId" value="{{ incId }}">
                <input type="hidden" name="searchParm" value="{{ searchParam }}">
                <input type="submit" name="{{ button }}" value="{{ buttonVal }}" class="btn btn-orange btn-block">
            </div>
            <div class="col-lg-4">&nbsp;</div>
	</form>
</div>
	
{% endblock %}


