{#--------------------------------#}
{# templates/auth_dash_admin.html.twig #}
{#--------------------------------#}

{% extends "_layout.html.twig" %}

{#--------------------------------#}
{% block title %}
DashBoard Admin
{% endblock %}

{#--------------------------------#}

{% block style %}
{% endblock %}

{#--------------------------------#}

{% block loggedInText %}
    {% include 'logged_in.html.twig' %}
{% endblock %}


{#--------------------------------#}
{% block navigation %}
    {% include 'navigation.html.twig' %}
{% endblock %}

{#--------------------------------#}

{% block main %}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8"><h1>Dashboard Administration</h1></div>
        <div class="col-sm-2">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 lineSpacer">&nbsp;</div>
        <div class="col-sm-1">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-8 noSpace">
            <form action="./authDashboardAdminUpdate" method="POST">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="freeSms" class="control-label">Free SMS:</label>
                            <input type="text" class="form-control" name="freeSms" id="freeSms" value="{{ freeSms }}" size="10" maxlength="190">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="freeSms" class="control-label">Sectors Off Air:</label>
                            <input type="text" class="form-control" name="sectors" id="sectors" value="{{ sectors }}" size="10" maxlength="190">
                        </div>
                    </div>
                </div>
                <h3 class="orange">Current Service Status</h3>
                <h4 class="orange underline">Primary Service Status</h4>

                {% set green = 'green' %}
                {% set amber = 'amber' %}
                {% set red = 'red' %}

                <div class="row">
                    {% for key, dashSelect in dashAdminSelectArrR1 %}

                            {# SET THE MENULABELS #}
                            {% if  'pssVoice'== key %}
                                {% set menuLabel='Voice:' %}
                            {% elseif 'pssData'== key %}
                                {% set menuLabel='Data:' %}
                            {% elseif 'pssMessaging'== key  %}
                                {% set menuLabel='Messaging:' %}
                            {% endif %}

                        {# INITIALISE VALUES #}
                        {% set greenSelected = '' %}
                        {% set amberSelected = '' %}
                        {% set redSelected = '' %}

                        {% if 'green' == dashSelect %}
                            {% set greenSelected = ' SELECTED' %}
                        {% elseif 'amber' == dashSelect %}
                            {% set amberSelected = ' SELECTED' %}
                        {% elseif 'red' == dashSelect %}
                            {% set redSelected = ' SELECTED' %}
                        {% endif %}

                        {% if 'empty' == key %}
                            <div class="col-sm-4">&nbsp;</div>
                        {% else %}
                            <div class="col-sm-4">
                                <label for={{ key }} class="labelSpacer">{{ menuLabel }}</label>
                                <select  class="form-control spacer" id="{{ key }}" name="{{ key }}">
                                    <option value="green"  {{ greenSelected }}>GREEN</option>
                                    <option value="amber"  {{ amberSelected }}>AMBER</option>
                                    <option value="red" {{ redSelected }}>RED</option>
                                </select>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="row">
                    {% for key, dashSelect in dashAdminSelectArrR2 %}
                        {# SET THE MENULABELS #}
                        {% if  'pssRoaming'== key  %}
                            {% set menuLabel='Roaming:' %}
                        {% elseif 'pss2GNetwork'== key  %}
                            {% set menuLabel='2G Network:' %}
                        {% elseif 'pss3GNetwork'== key  %}
                            {% set menuLabel='3G Network:' %}
                        {% endif %}

                        {# INITIALISE VALUES #}
                        {% set greenSelected = '' %}
                        {% set amberSelected = '' %}
                        {% set redSelected = '' %}

                        {% if 'green' == dashSelect %}
                            {% set greenSelected = 'SELECTED' %}
                        {% elseif 'amber' == dashSelect %}
                            {% set amberSelected = 'SELECTED' %}
                        {% elseif 'red' == dashSelect %}
                            {% set redSelected = 'SELECTED' %}
                        {% endif %}

                        {% if 'empty' == key %}
                            <div class="col-sm-4">&nbsp;</div>
                        {% else %}
                            <div class="col-sm-4">
                                <label for={{ key }} class="labelSpacer">{{ menuLabel }}</label>
                                <select  class="form-control" id="{{ key }}" name="{{ key }}">
                                    <option value="green" {{ greenSelected }}>GREEN</option>
                                    <option value="amber" {{ amberSelected }}>AMBER</option>
                                    <option value="red" {{ redSelected }}>RED</option>
                                </select>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    {% for key, dashSelect in dashAdminSelectArrR3 %}

                        {# SET THE MENULABELS #}
                        {% if 'essCustMgmnt'== key  %}
                            {% set menuLabel='Customer Management:' %}
                        {% elseif 'essCustBill'== key  %}
                            {% set menuLabel='Customer Billing:' %}
                        {% elseif 'essServProv'== key  %}
                            {% set menuLabel='Service Provisioning:' %}
                        {% endif %}

                        {# INITIALISE VALUES #}
                        {% set greenSelected = '' %}
                        {% set amberSelected = '' %}
                        {% set redSelected = '' %}

                        {% if 'green' == dashSelect %}
                            {% set greenSelected = 'SELECTED' %}
                        {% elseif 'amber' == dashSelect %}
                            {% set amberSelected = 'SELECTED' %}
                        {% elseif 'red' == dashSelect %}
                            {% set redSelected = 'SELECTED' %}
                        {% endif %}

                        {% if 'empty' == key %}
                            <div class="col-sm-4">&nbsp;</div>
                        {% else %}
                            <div class="col-sm-4">
                                <label for={{ key }} class="labelSpacer">{{ menuLabel }}</label>
                                <select  class="form-control" id="{{ key }}" name="{{ key }}">
                                    <option value="green" {{ greenSelected }}>GREEN</option>
                                    <option value="amber" {{ amberSelected }}>AMBER</option>
                                    <option value="red" {{ redSelected }}>RED</option>
                                </select>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    {% for key, dashSelect in dashAdminSelectArrR4 %}
                        {# SET THE MENULABELS #}
                        {% if 'essTopUp'== key  %}
                            {% set menuLabel='Top Up:' %}
                        {% elseif 'essRetPos'== key  %}
                            {% set menuLabel='Retail/POS:' %}
                        {% endif %}
                        {# loop though so that the select menus are 3 across #}

                        {% if 'empty' == key %}
                            <div class="col-sm-4">&nbsp;</div>
                        {% else %}
                            <div class="col-sm-4">
                                {# INITIALISE VALUES #}
                                {% set greenSelected = '' %}
                                {% set amberSelected = '' %}
                                {% set redSelected = '' %}

                                {% if 'green' == dashSelect %}
                                    {% set greenSelected = 'SELECTED' %}
                                {% elseif 'amber' == dashSelect %}
                                    {% set amberSelected = 'SELECTED' %}
                                {% elseif 'red' == dashSelect %}
                                    {% set redSelected = 'SELECTED' %}
                                {% endif %}

                                <label for={{ key }} class="labelSpacer">{{ menuLabel }}</label>
                                <select  class="form-control" id="{{ key }}" name="{{ key }}">
                                    <option value="green" {{ greenSelected }}>GREEN</option>
                                    <option value="amber" {{ amberSelected }}>AMBER</option>
                                    <option value="red" {{ redSelected }}>RED</option>
                                </select>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    {% for key, dashSelect in dashAdminSelectArrR5 %}
                        {# SET THE MENULABELS #}
                        {% if 'cssDataWareBI'== key  %}
                            {% set menuLabel='Data WareHouse/BI:' %}
                        {% elseif 'cssEmail'== key  %}
                            {% set menuLabel='E-Mail:' %}
                        {% elseif 'cssNetwork'== key  %}
                            {% set menuLabel='Network:' %}
                        {% endif %}
                        {# loop though so that the select menus are 3 across #}

                        {% if 'empty' == key %}
                            <div class="col-sm-4">&nbsp;</div>
                        {% else %}
                            <div class="col-sm-4">
                                {# INITIALISE VALUES #}
                                {% set greenSelected = '' %}
                                {% set amberSelected = '' %}
                                {% set redSelected = '' %}

                                {% if 'green' == dashSelect %}
                                    {% set greenSelected = 'SELECTED' %}
                                {% elseif 'amber' == dashSelect %}
                                    {% set amberSelected = 'SELECTED' %}
                                {% elseif 'red' == dashSelect %}
                                    {% set redSelected = 'SELECTED' %}
                                {% endif %}

                                <label for={{ key }} class="labelSpacer">{{ menuLabel }}</label>
                                <select  class="form-control" id="{{ key }}" name="{{ key }}">
                                    <option value="green" {{ greenSelected }}>GREEN</option>
                                    <option value="amber" {{ amberSelected }}>AMBER</option>
                                    <option value="red" {{ redSelected }}>RED</option>
                                </select>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    {% for key, dashSelect in dashAdminSelectArrR6 %}
                        {# SET THE MENULABELS #}
                        {% if 'cssTelePbx'== key %}
                            {% set menuLabel='Telephony/PBX:' %}
                        {% elseif 'cssErpBss'== key %}
                            {% set menuLabel='ERP/BSS:' %}
                        {% endif %}
                        {# loop though so that the select menus are 3 across #}
                        {% if 'empty' == key %}
                            <div class="col-sm-4">&nbsp;</div>
                        {% else %}
                            <div class="col-sm-4">
                                {# INITIALISE VALUES #}
                                {% set greenSelected = '' %}
                                {% set amberSelected = '' %}
                                {% set redSelected = '' %}

                                {% if 'green' == dashSelect %}
                                    {% set greenSelected = 'SELECTED' %}
                                {% elseif 'amber' == dashSelect %}
                                    {% set amberSelected = 'SELECTED' %}
                                {% elseif 'red' == dashSelect %}
                                    {% set redSelected = 'SELECTED' %}
                                {% endif %}

                                <label for={{ key }} class="labelSpacer">{{ menuLabel }}</label>
                                <select  class="form-control" id="{{ key }}" name="{{ key }}">
                                    <option value="green" {{ greenSelected }}>GREEN</option>
                                    <option value="amber" {{ amberSelected }}>AMBER</option>
                                    <option value="red" {{ redSelected }}>RED</option>
                                </select>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <h3 class="orange">Network Service Checks</h3>
                <h4 class="orange underline">2G/3G Network</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="netAvail2G" class="control-label">2G Network Availability (%):</label>
                            <input type="text" class="form-control" id ="netAvail2G" name="netAvail2G" value="{{ netAvail2G }}" size="10" maxlength="10">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="trafVol2G" class="control-label">2G Traffic Volume (Erlangs):</label>
                            <input type="text" class="form-control" id ="trafVol2G" name="trafVol2G" value="{{ trafVol2G }}" size="10" maxlength="10">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="netLocSuc2G" class="control-label">2G Network Location Success Rate (%):</label>
                            <input type="text" class="form-control" id ="netLocSuc2G" name="netLocSuc2G" value="{{ netLocSuc2G }}" size="10" maxlength="10">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="netAvail3G" class="control-label">3G Network Availability (%):</label>
                            <input type="text" class="form-control" id ="netAvail3G" name="netAvail3G" value="{{ netAvail3G }}" size="10" maxlength="10">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="trafVol3G" class="control-label">3G Traffic Volume (Erlangs): </label>
                            <input type="text" class="form-control" id ="trafVol3G" name="trafVol3G" value="{{ trafVol3G }}" size="10" maxlength="10">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        &nbsp;
                    </div>
                </div>
                <h4 class="orange underline">Voice Services</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="voiceTraf2G" class="control-label">2G Voice Traffic (mins):</label>
                            <input type="text" class="form-control" id ="voiceTraf2G" name="voiceTraf2G" value="{{ voiceTraf2G }}" size="10" maxlength="10">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="callCompRate2G" class="control-label">Call Completion Rate (%):</label>
                            <input type="text" class="form-control" id="callCompRate2G" name="callCompRate2G" value="{{ callCompRate2G }}" size="10" maxlength="10">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="callSuccRate2G" class="control-label">2G Call Success Rate (%):</label>
                            <input type="text" class="form-control" id="callSuccRate2G" name="callSuccRate2G" value="{{ callSuccRate2G }}" size="10" maxlength="10">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="callCompRate3G" class="control-label">3G Call Completion Rate (%):</label>
                            <input type="text" class="form-control" id="callCompRate3G" name="callCompRate3G" value="{{ callCompRate3G }}" size="10" maxlength="10">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="callSuccRate3G" class="control-label">3G Call Success Rate (%):</label>
                            <input type="text" class="form-control" id ="callSuccRate3G" name="callSuccRate3G" value="{{ callSuccRate3G }}" size="10" maxlength="10">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        &nbsp;
                    </div>
                </div>
                <h4 class="orange underline">Data Services</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="dataVol2G" class="control-label">2G Data Volumes (GB):</label>
                            <input type="text" class="form-control" id ="dataVol2G" name="dataVol2G" value="{{ dataVol2G }}" size="10" maxlength="10">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="edgeThru2G" class="control-label">2G Edge Throughput (Kb/s): </label>
                        <input type="text" class="form-control" id ="edgeThru2G" name="edgeThru2G" value="{{ edgeThru2G }}" size="10" maxlength="10">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="gprsThru2G" class="control-label">2G GPRS Throughput (Kb/s): </label>
                            <input type="text" class="form-control" id ="gprsThru2G" name="gprsThru2G" value="{{ gprsThru2G }}" size="10" maxlength="10">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="dataVol3G" class="control-label">3G Data Volumes (GB): </label>
                        <input type="text" class="form-control" id ="dataVol3G" name="dataVol3G" value="{{ dataVol3G }}" size="10" maxlength="10">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="pakSetSuc3G" class="control-label">3G Packet Setup Success Rate (Kb/s):</label>
                            <input type="text" class="form-control" id="pakSetSuc3G" name="pakSetSuc3G" value="{{ pakSetSuc3G }}" size="10" maxlength="10">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="pakCompRate3G" class="control-label">3G Packet Completion Rate (Kb/s):</label>
                        <input type="text" class="form-control" id ="pakCompRate3G" name="pakCompRate3G" value="{{ pakCompRate3G }}" size="10" maxlength="10">
                    </div>
                </div>
                <h4 class="orange underline">Messaging Services</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="mmsCompRate" class="control-label">MMS Completion Rate (%): </label>
                            <input type="text" class="form-control" id="mmsCompRate" name="mmsCompRate" value="{{ mmsCompRate }}" size="10" maxlength="10">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="smsCompRate" class="control-label">SMS Completion Rate (%):</label>
                        <input type="text" class="form-control" id="smsCompRate" name="smsCompRate" value="{{ smsCompRate }}" size="10" maxlength="10">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        &nbsp;
                    </div>
                    <div class="col-sm-6">
                        <input type="hidden" name="posted" value="posted">
				        <input type="submit" name="updateDash" value="Update Dashboard" class="btn btn-orange btn-block btn-space">
                    </div>
                    <div class="col-sm-3">
                        &nbsp;
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-2">&nbsp;</div>
    </div>
{% endblock %}
