{#--------------------------------#}
{# templates/auth_incident_list.html.twig #}
{#--------------------------------#}

{% extends "_layout.html.twig" %}

{#--------------------------------#}
{% block title %}
	Incident List
{% endblock %}

{#--------------------------------#}

{% block loggedIn %}
    {% include 'logged_in.html.twig' %}
{% endblock %}


{#--------------------------------#}
{% block navigation %}
    {% include 'navigation.html.twig' %}
{% endblock %}

{#--------------------------------#}

{% block main %}
	<table class="table table-striped table-hover" >
		<tr>
		<th colspan="7">
			<h3><span class="orange">{{ totalRecords }}</span> Open Incidents (ordered by age) for <span class="orange">{{ searchParam }}</span></h3>
		</th>
		</tr>

		{#--------------NEW LINE --------------#}
		<tr >
            <td class="wideRow">Page:</td>
			<td class="wideRow" colspan="6">
				{{ links | raw }}
			</td>
		</tr>
		<tr >
			<td width ="140"><b>Status</b></td>
			<td><b>Reference</b></td>
			<td width="95"><b>Category</b></td>
			<td width="300" colspan="2"><b>Description</b></td>
			<td><b>Days Old</b></td>
			<!--<td width="110"><b>Last Updated</b></td>-->
			<td width="90">&nbsp</td>
		</tr>
		{# THIS will loop through the associateive array $msisdnIncs #}
		
		{% for inc in incArr %}
			<tr >
				<td>{{ inc.incStatus }}</td>
				<td>{{ inc.incRef }}</td>
				<td>{{ inc.incCat }}</td>
				<td colspan="2">{{ inc.incDesc }}</td>
				<td>{{ inc.incDurationDays }}</td>
				<td>
					<form action="./authIncident" method="GET" formID="formUpdate">
						<input type="hidden" name="incId" value="{{ inc.incId }}">
						<input type="hidden" name="searchParam" value="{{ searchParam }}">
						<input type="submit" name="updateInc" value="update" class="btn btn-orange">
					</form>
				</td>
			</tr>
		{% endfor %}
			<tr >
				<td class="underline" colspan="7">
					<a href ="./authExportMySqlToExcel?incType={{ searchParam }}" target="_blank">Click here to export results to excel</a>
					<hr />
				</td>
			</tr>
			{# CREATE BUTTON IS NOT CREATE FOR DASHDISPLAY INCIDENTS #}
			{% if 'Yes' in displayCreateBtn %}
				<tr >
					<td colspan="6">
						<h3>Create a new Incident for this Category</h3>
					</td>
					<td align="center">
						<form action="./authIncident" method="GET" formID="formCreate">
							<input type="hidden" name="searchParam" value="{{ searchParam }}">
							<input type="submit" name="createInc" value="create" class="btn btn-grey">
						</form>
					</td>
				</tr>
			{% endif %}
	</table>
{% endblock %}