{#--------------------------------#}
{# templates/auth_incident.html.twig #}
{#--------------------------------#}

{% extends "_layout.html.twig" %}

{#--------------------------------#}
{% block title %}
	Incident
{% endblock %}

{#--------------------------------#}

{% block loggedIn %}
    {% include 'logged_in.html.twig' %}
{% endblock %}

{#--------------------------------#}
{% block navigation %}
    {% include 'navigation.html.twig' %}
{% endblock %}

{#--------------------------------#}

{% block main %}
	<form action="{{ action | raw }}" method="POST" id="incidentCreate" >
	    <div class="row">
	        <div class="col-lg-4">&nbsp;</div>
	        <div class="col-lg-4">
                <h3>{{ message }}</h3>

                <div class="form-group">
                    <label for="incCat" class="control-label">Category</label>
                    <input type="text" name="incCat" id="incCat" class="form-control" value="{{ searchParam }}" readonly >
                </div>
                <div class="form-group">
                    <label for="incStatus" class="control-label">Incident Status </label>
                    {% if 'updateInc' in button %}
                        {{ incStatusMenu | raw }}
                    {% else %}
                        <select name="incStatus" id="incStatus" class="form-control">
                            <option value="Open">Open</option>
                            <option value="Closed">Closed</option>
                        </select>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="incRef" class="control-label">Ticket Reference</label>
                    <input type="number" name="incRef" id="incRef" class="form-control" pattern="[0-9]{6}" value="{{ incRef }}" >
                </div>
                <div class="form-group">
                    <label for="incDesc" class="control-label">Description</label>
                    <input type="text" name="incDesc" id="incDesc" class="form-control" value="{{ incDesc }}" maxlength="160">
                </div>
                <div class="form-group">
                    <label for="incDesc" class="control-label">Display On Dashboard</label>
                    {% if 'updateInc' in button %}
                        {{ incDashDisplayMenu | raw }}
                    {% else %}
                    <select name="incDashDisplay" class="form-control">
                        <option value="No">No</option>
                        <option value="Major-Incident">Major-Incident</option>
                        <option value="Minor-Incident">Minor-Incident</option>
                    </select>
                    {% endif %}
                </div>
                <input type="hidden" name="userId" value="{{ userId }}">
                <input type="hidden" name="incId" value="{{ incId }}">
                <input type="hidden" name="searchParm" value="{{ searchParam }}">
                <input type="submit" name="{{ button }}" value="{{ buttonVal }}" class="btn btn-orange btn-block">
            </div>
            <div class="col-lg-4">&nbsp;</div>
	</form>
</div>
	
{% endblock %}


