{#--------------------------------#}
{# templates/auth_incident.html.twig #}
{#--------------------------------#}

{% extends "_layout.html.twig" %}

{#--------------------------------#}
{% block title %}
	Incident
{% endblock %}

{#--------------------------------#}

{% block loggedIn %}
	{{ loggedInText | raw }}
{% endblock %}

{#--------------------------------#}
{% block nav %}
	{{ nav | raw }}
{% endblock %}

{#--------------------------------#}

{% block main %}
	
<div id="editConfirm" class="container_12">
	
<div id="spacer1" class="grid_12">&nbsp;</div>

{#--------------NEW LINE --------------#}

	<form action="{{ action | raw }}" method="POST" id="incidentCreate">

		<div id="leftSpacer1" class="grid_3">&nbsp;</div>
	
		<div class="grid_6">
			<h3>{{ message }}</h3>
		</div>
		
		<div id="rightSpacer1" class="grid_3">&nbsp;</div>

	{#--------------NEW LINE --------------#}		
			
		<div id="spacer1" class="grid_12">&nbsp;</div>	

			
	{#--------------NEW LINE --------------#}
			
		<div id="leftSpacer2" class="grid_3">&nbsp;</div>
		
		<div class="grid_3">				
			Category
		</div>
		
		<div class="grid_3">
			<input type="text" name="incCat" id="incCat" value="{{ searchParam }}" readonly class="bGColor">
		</div>
	
		<div id="rightSpacer2" class="grid_3">&nbsp;</div>		

	{#--------------NEW LINE --------------#}		
			
		<div id="spacer1" class="grid_12">&nbsp;</div>
		
	{#--------------NEW LINE --------------#}

		<div id="leftSpacer3" class="grid_3">&nbsp;</div>
		
		<div class="grid_3">		
			Incident Status 
		</div>
		
		<div class="grid_3">	
			{% if 'updateInc' in button %}
				{{ incStatusMenu | raw }}	
			{% else %}
				<select name="incStatus" id="incStatus">
					<option value="Open">Open</option>
					<option value="Closed">Closed</option>
				</select>
			{% endif %}
		</div>
		
		<div id="rightSpacer3" class="grid_3">&nbsp;</div>		

	{#--------------NEW LINE --------------#}		
		
		<div id="spacer1" class="grid_12">&nbsp;</div>
			
	{#--------------NEW LINE --------------#}
		<div id="leftSpacer3" class="grid_3">&nbsp;</div>
		
		<div class="grid_3">		
			Ticket Reference
		</div>
		
		<div class="grid_3">		
			<input type="text" name="incRef" id="incRef" value="{{ incRef }}" size=8 maxsize=7>	
		</div>
		
		<div id="rightSpacer3" class="grid_3">&nbsp;</div>		

	{#--------------NEW LINE --------------#}		
			
		<div id="spacer1" class="grid_12">&nbsp;</div>
				
	{#--------------NEW LINE --------------#}
		<div id="leftSpacer4" class="grid_3">&nbsp;</div>	
		
		<div class="grid_3">			
			Description
		</div>
		
		<div class="grid_4" >
			<input type="text" name="incDesc" id="incDesc" value="{{ incDesc }}" size="30" maxlength="160">
		</div>
	
		<div id="rightSpacer4" class="grid_2">&nbsp;</div>		
		
	{#--------------NEW LINE --------------#}
		
		<div id="spacer1" class="grid_12">&nbsp;</div>	
		
	{#--------------NEW LINE --------------#}
	
		<div id="leftSpacer5" class="grid_3">&nbsp;</div>	
		
		<div class="grid_3">		
			Display On Dashboard
		</div>
		
		<div class="grid_3">
			{% if 'updateInc' in button %}
				{{ incDashDisplayMenu | raw }}
			{% else %}
			<select name="incDashDisplay">
				<option value="No">No</option>
				<option value="Major-Incident">Major-Incident</option>
				<option value="Minor-Incident">Minor-Incident</option>
			</select>
			{% endif %}
		</div>
		
		<div id="rightSpacer5" class="grid_3">&nbsp;</div>		
	
	{#--------------NEW LINE --------------#}		
			
		<div id="spacer1" class="grid_12">&nbsp;</div>
		
	{#--------------NEW LINE --------------#}
			
		<div id="leftSpacer8" class="grid_6">&nbsp;</div>	
		
		<div class="grid_3">		
			<input type="hidden" name="userId" value="{{ userId }}">
			<input type="hidden" name="incId" value="{{ incId }}">
			<input type="hidden" name="searchParm" value="{{ searchParam }}">
			<input type="submit" name="{{ button }}" value="{{ buttonVal }}" class="btnUsers">
		</div>
		<div id="rightSpacer9" class="grid_3">&nbsp;</div>	
	
	</form>
</div>
	
{% endblock %}


