{#--------------------------------#}
{# templates/auth_edit_user.html.twig #}
{#--------------------------------#}

{% extends "_layout.html.twig" %}


{% block title %}
	Edit User
{% endblock %}

{% block loggedIn %}
    {% include 'logged_in.html.twig' %}
{% endblock %}


{% block navigation %}
    {% include 'navigation.html.twig' %}
{% endblock %}

{% block main %}

    {% set actionCreate = 'create' %}
    {% set actionEdit = 'edit' %}

	<form action="{{ action }}" method ="POST">
        <div class="row">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-6">
                {% if actionCreate == pageAction %}
                    <h3>Create User:</h3>
                {% elseif actionEdit == pageAction %}
                    <h3>Edit User: <span class="orange">{{ userName }}</span></h3>
                {% endif %}
            </div>
            <div class="col-sm-3">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-6 formSpacer">&nbsp;</div>
            <div class="col-sm-3">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="userLogin">User Login Name</label>
                    <input type="text" class="form-control" id="userLogin" name="userLogin" value="{{ userArr.userName }}" placeholder="User Login Name" {{ readOnly | raw }}>
                    <span id="usernameLoading"><img src="./img/indicator.gif" alt="" /></span>
                </div>
            </div>
            <div class="col-sm-3">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="userPassword">Password</label>
                    <input type="text" class="form-control" id="userPassword" name="userPassword" value="{{ userArr.userPassword }}" placeholder="Password">
                </div>
            </div>
            <div class="col-sm-3">&nbsp;</div>
        </div> <!-- END ROW 1 -->
        <div class="row">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="userFName">First Name</label>
                    <input type="text" class="form-control" id="userFName" name="userFName" value="{{ userArr.userFName }}" placeholder="First Name">
                </div>
            </div>
            <div class="col-sm-3">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="userSName">Surname</label>
                    <input type="text" class="form-control" id="userSName" name="userSName" value="{{ userArr.userSName }}" placeholder="Surname">
                </div>
            </div>
            <div class="col-sm-3">&nbsp;</div>
        </div> <!-- END ROW 2 -->

        <div class="row">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="userEmail">Email</label>
                    <input type="text" class="form-control" id="userEmail" name="userEmail" value="{{ userArr.userEmail }}" placeholder="Email">
                </div>
            </div>
            <div class="col-sm-3">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-6">
                <div class="form-group">

                    {% set catAdmin = 'admin' %}
                    <label for="userCat">User Category</label>
                    <select name="userCat" class="form-control">
                        {% if catAdmin == userCat %}
                            <option value="general">General</option>
                            <option value="admin" selected>Admin</option>
                        {% else %}
                            <option value="general" selected>General</option>
                            <option value="admin">Admin</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="col-sm-3">&nbsp;</div>
        </div> <!-- END ROW 3 -->
        <div class="row">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-6">
                <input type="hidden" name="userId" value="{{ userId }}">
                <input type="submit" name="{{ button }}" value="{{ button }}" class="btn btn-orange btn-block btn-user">
            </div>
            <div class="col-sm-3">&nbsp;</div>
	</form>


	
{% endblock %}
